annotated-types
anyio
argcomplete
click
contourpy
cycler
fastapi
fonttools
h11
idna
kiwisolver
markdown-it-py
matplotlib
mdurl
networkx
numpy
packaging
pillow
pipx
platformdirs
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
PyYAML
rich
setuptools
six
sniffio
starlette
typing-inspection
typing_extensions
userpath
uvicorn
wheel
